<a href="https://colab.research.google.com/github/aleksejalex/PyPEF/blob/main/pypef_02_cond_cycles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PyPEF, lecture 02. Conditions. Containers. Loops. Functions and classes. Introduction to NumPy.

Prepared by: Aleksej Gaj ( pythonforstudents24@gmail.com )

🔗 Course website: [https://aleksejalex.4fan.cz/pef_python/](https://aleksejalex.4fan.cz/pef_python/)

In this tutorial we familiarize ourselves with
 - conditional statements in Python and bool values
 - loops (`for`, `while`)
 - functions - how to define them and use them
 - classes - a brief introduction
 - containers (`list`, `tuple`, `set`, `dict`, `str`)

## Recall: last time...
 - basic info about Python (history, philosophy, how to run, ...)
 - types of variables
 - condition `if`-`else`

### Recall: conditions
```
if CONDITION_THAT_HAS_BOOL_VALUE:
    DO_IT_WHEN_COND_IS_TRUE
elif OTHER_CONDITION:
    DO_IT_WHEN_COND_IS_TRUE
else:
    DO_THIS_WHEN_CONDITIONS_WERENT_SATISFIED
```

In [ ]:
is_sunny = False

if is_sunny == False:
    print(f"It's cloudy. ☁️☁️☁️")
else:
    # 'is_sunny' is True
    print(f"Great weather! ☀️☀️☀️") # note that Python is ok with any UTF8 characters

In [ ]:
if type(is_sunny) == bool:
    print(f"'is_sunny' is of boolean type.")
else:
    print("This line will be never executed (hopefully).")

Composite conditions - via operators `and`, `or` and `not`:

In [ ]:
is_sunny = True
is_weekend = not True

if is_sunny or is_weekend:
    print(f"It's sunny or it's weekend today.")

In [ ]:
is_weekend = True

if is_sunny and is_weekend:
    print(f"It's sunny and weekend. Picnic time! 🥂🏕️")

⚠️ **Operators for comparing**
 - operator `is` checks for **identity**
 - operator `==` checks for **equality**

Example:

In [ ]:
a = [1, 2, 3]  # let's have two lists - same values, different objects
b = [1, 2, 3]  # they're equal, but not the same

if a is b:
    print("a and b reference the same object.")
else:
    print("a and b reference different objects.")

if a == b:
    print("The values of a and b are equal.")
else:
    print("The values of a and b are not equal.")

a and b reference different objects.
The values of a and b are equal.

In [ ]:
c = a

if a is c:
    print("a and c reference the same object.")
else:
    print("a and c reference different objects.")

a and c reference the same object.

Even worse (more dangerous) property:

In [ ]:
a = [1,2,3]
b = a
print(f"a = {a} ; b = {b}")

a = [1, 2, 3] ; b = [1, 2, 3]

In [ ]:
b.append(4) # add 4 to the list b
print(f"a = {a} ; b = {b}")

a = [1, 2, 3, 4] ; b = [1, 2, 3, 4]

Oh no! 🤦‍♂️ How did it happen?

Statement `b=a` means that variable a has new handler. But it still the same variable, with same values. (It's like calling your friend by name or by nickname.)

💡 To avoid this, we use copy constructor, which creates new instance of required type and copies the value:

In [ ]:
c = a.copy()
print(f"a = {a} ; c = {c}")
c.append(5)
print(f"a = {a} ; c = {c}")

a = [1, 2, 3, 4] ; c = [1, 2, 3, 4]
a = [1, 2, 3, 4] ; c = [1, 2, 3, 4, 5]

### Solution of homework from last time
> " create a program which writes your name and wether year of your
birthday is odd or even"

In [ ]:
your_name = input("Enter name --> ")
your_year_of_birth = input("Enter the year you was born --> ")

your_name = str(your_name)
your_year_of_birth = int(your_year_of_birth)

print(f"So you are {your_name} and you were born in {your_year_of_birth}.")

So you are Alex and you were born in 1997.

In [ ]:
if your_year_of_birth % 2 == 0:
    print(f"The year is even.")
else:
    print(f"The year is odd.")

The year is odd.

## Loops `for` and `while`. Keywords `break` and `continue`.

### `for` loop

 - for loop runs a block of code sequentially for given amount of times.
 - it can iterate over: list, tuple, string, range, set, ...
 - structure of fo cycle is as follows:
```
for ITERATOR in ITERATED_OBJ:
    CODE_THAT_RUNS_IN_LOOP
```

In [ ]:
my_str = "PEF ČZU"

for letter in my_str:  # reads as "for each char in 'my_str' do following:"
    print(letter)

P
E
F

Č
Z
U

In [ ]:
numbers = [10, 20, 30]
for number in numbers:  # reads as "for each number in 'numbers' do following:"
    print(f"number = {number}")

number = 10
number = 20
number = 30

In [ ]:
for i in range(3):  # range is specific function used mainly in 'for' loops
    print(f"i = {i}")

i = 0
i = 1
i = 2

In [ ]:
print(range(3))

range(0, 3)

🚨 Reminder: By default Python indexes from zero.

In [ ]:
for i in range(2,5):
    print(f"i = {i}")

i = 2
i = 3
i = 4

In [ ]:
my_set = {'Tomorrow', 'never', 'dies', '!'}
for i in my_set:
    print(f"i = {i}")

i = dies
i = !
i = Tomorrow
i = never

Note: set does not respect any order.

### `while` loop
- runs a block of code *while* a specified condition is `True` ( = until the condition is not fulfilled anymore)

```
while CONDITION:
    DO_IT_WHILE_CONDITION_IS_TRUE
```

In [ ]:
num = 1000
while num > 0.1:
    num = num / 2
print(num)

0.06103515625

In [ ]:
num = 2
while num < 1000:
    num = num * 2
print(num)

1024

📝 Note: it's simple to create a while that will run forever (until you PC/Colab crashes). So be careful: be sure your condition can be violated (one day). \
*Example* ( 🔥 danger ahead 🔥 ):

In [ ]:
while True:
    print('still running..')

**How to kill execution:** use Stop icon (or `Ctrl+C`).

### Influencing run of `while`: `break` and `continue`

 - `break` - obviously meant to stop while at this moment and and looping
 - `continue` - stop current run of loop and continue with another one

In [ ]:
num = 0

while num <= 10:
    num = num + 1
    if num == 4:
        break
    print(f"num = {num}")

num = 1
num = 2
num = 3

❓ Why the prints start with `1`? Isn't it strange? 🤔💭

In [ ]:
num = 0

while num <= 10:
    num = num + 1
    if num == 4:
        continue
    print(f"num = {num}")

num = 1
num = 2
num = 3
num = 5
num = 6
num = 7
num = 8
num = 9
num = 10
num = 11

❓ Why prints end with `11`? Is it expected behaviour?

Example of potencial usage:

```
while True:
    if desired_condition_happens():
        break
    if unwanted_situation_reached():
        continue
    do_something()
```
i.e. infinitely try to search for solution, the desired solution is recognized with `desired_condition_happens()`, unwanted condition is avoided/"filtered" with `unwanted_situation_reached()`.


Example:

In [ ]:
max_num = 10 # starting value, try 10**13
is_prime = True

num = max_num

while num > 1:
    num = num - 1  # Decrease number by 1 in each iteration

    # check if the number is divisible by any number less than itself
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:  # if the number is divisible by any other number, it's not prime
            is_prime = False
            break

    if not is_prime:  # if not prime, continue to next iteration
        is_prime = True  # reset is_prime for next iteration
        continue

    # if the number is prime, print it and break the loop
    print(f"The largest prime number below {max_num}) is: {num}")
    break

The largest prime number below 10) is: 7

### Optional homework:
task: implement a game "Guess a number".

Program has to do following steps:
 - choose a random integer between 1 and 10 (pre-prepared below)
 - user has to guess the number (ask user for the guess)
 - game ends *either* when user guesses correctly or when user gives up.

Hint: use `while` loop with composite condition.

In [ ]:
True and False

False

In [ ]:
import random
rand_num = random.randrange(1, 11) # returns random int between 1 and 10 including

Finishing game...
The number was 1..

## Intermezzo: "one-liners".
 There is a way to write `for` loop and conditions in one line. \
✅ a little shorter code \
❌ less readable code

In [ ]:
# one-line for loop
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [ ]:
# one-line if-else statement
num = 10
result = "Even" if num % 2 == 0 else "Odd"
print(result)

Even

## Functions - the important object.

Functions in Python looks similar like in other languages.

```
def name(ARG1, ARG2, ... ):
    CODE_EXECUTED
    return RETURN_VALUE
```

In [ ]:
def say_hello(name):
    print(f"Hello, {name}!")

say_hello("Python")

Hello, Python!

Some optional (yet useful) tweaks:
 - documentation - multiline string saying what the function does
 - default arguments (~ optional arguments): its type and value
 - return (if funtions shouldn't return anything, it can return `None`)
 - during development - place holder `pass` (holds spaces, does nothing)
    > ```
    > def this_function_i_will_implement_later():
    >     pass
    > ```


Let's make that trivial function one more time with all these tweaks:

In [ ]:
def say_hello(name: str = "Python"):
    """
    function that prints out greeting for specified name.
    """
    print(f"Hello, {name}!")
    return None

# now we can call the function without argument -> default value is used.
say_hello()
say_hello("Alex")

Hello, Python!
Hello, Alex!

Functions with several arguments (one mandatory, one optional):

In [ ]:
def power(base: float, exponent: int = 2):
    """
    Calculates the power of a number.

    Parameters:
        base (int): The base number.
        exponent (int, optional): The exponent. Default is 2.

    Returns:
        int: The result of base raised to the power of exponent.
    """
    return base ** exponent

print(f"3 squared is {power(3)}")
print(f"2 in power of 3 is {power(2, 3)}")

3 squared is 9
2 in power of 3 is 8

If variables are passed via name, you can pass them in any order:

In [ ]:
power(exponent=8, base = 2)

256

### One-liners again: `lambda` functions

 - function defined in one line
 - keyword `lambda`
 - **any number of input arguments, but only one expression**

```
NAME_OF_FUNC = lambda ARG1, ARG2: EXPRESSION return VALUE
```

In [ ]:
square = lambda x: x ** 2
print(square(5))

25

In [ ]:
is_dividable = lambda x, y: True if x % y == 0 else False

print(f" 3 is dividable by 2 : {is_dividable(3,2)}")
print(f" 4 is dividable by 2 : {is_dividable(4,2)}")

 3 is dividable by 2 : False
 4 is dividable by 2 : True

## Classes.

= a "blueprint" to create objects

 - defines the properties (attributes) and behaviors (methods) that objects of that class will have

Example:
Let's imagine we create cats.

<img src="https://aleksejalex.4fan.cz/pef_python/img/blueprint_of_cat_and_a_cat4.jpeg" alt="creating different cats from same blueprint" width="300">

In [ ]:
class Cat:
    def __init__(self, given_name, colour, weight = 12000):
        self.name = given_name
        self.colour = colour
        self.weight = weight  # weight in grams
        self.gender = 'male'

    def eat(self, amount_of_food):
        """when it eats, it gains weight"""
        self.weight = self.weight + amount_of_food

    def run_around(self, distance = 1):
        """each km of running makes cat loose 200gr of weight"""
        self.weight = self.weight - 200*distance

    def say(self, what_to_say: str = "meoOow"):
        """makes your cat talk"""
        print(f"Cat {self.name} says: {what_to_say}.")

In [ ]:
# define my cat
my_cat = Cat("Puss", "orange")  # only name was mandatory property

print(my_cat)  # just object in memory

<__main__.Cat object at 0x7f0d6d0c2a20>

In [ ]:
# Properties of my cat
print(my_cat.name)
print(my_cat.weight)

Puss
12000

In [ ]:
# let the cat speak for itself:
my_cat.say("I'm hungry!")

Cat Puss says: I'm hungry!.

In [ ]:
my_cat.eat(250) # cat eat a tuna can (250grams)
print(my_cat.weight)

12250

Let's see how our cat burns calories:

In [ ]:
my_cat.run_around(3)  # let it run 3 km
print(my_cat.weight)

11650

In [ ]:
neibourghs_cat = Cat(given_name="Mathilda", colour="black", weight=7000)

### Optional homework
task: implement a class `Car` and build a garage of your dreams.

Technically: `Car` should have some properties (for example: `name`, `license_plate`, `condition`, `color`, `consumption`, ...) and methods (for example: `drive_to()`, `repaint()`, `clean_up()`, `fill_tank()`, ...)

Play with those a little to get used to:
 - defining a class
 - creating instances (with optional arguments)
 - using them

 (of course you can choose any other example, it doesn't have to be `Car` class)

## Containers.
Python uses several containers:
 - list


| Type         | Description                                | Example                   |
|--------------|--------------------------------------------|---------------------------|
| list         | Ordered collection of items                | `my_list = [1, 2, 3]`     |
| tuple        | Immutable ordered collection of items      | `my_tuple = (1, 2, 3)`    |
| set          | Unordered collection of unique items       | `my_set = {1, 2, 3}`      |
| dict         | Collection of key-value pairs              | `my_dict = {'eggs': 6, 'apples': 3, 'cookies': "chocolate"}`|

Properties:

| Type  	| Ordered?         	| Can add new elements? 	| Can contain duplicates? 	| Example                                                      	|
|-------	|------------------	|-----------------------	|-------------------------	|--------------------------------------------------------------	|
| list  	| ✅                	| ✅ (via `.add()`)      	| ✅                       	| `my_list = [1, 2, 3]`                                        	|
| tuple 	| ✅                	| ❌                     	| ✅                       	| `my_tuple = (1, 2, 3)`                                       	|
| set   	| ❌                	| 🟠 (via `.union()`)    	| ❌                       	| `my_set = {1, 2, 3}`                                         	|
| dict  	| ✅ (newer Python) 	| 🟠 (via `.update()`)   	| ❌                       	| `my_dict = {'eggs': 6, 'apples': 3, 'cookies': "chocolate"}` 	|
| str   	| ✅                	| 🟠 (via `concat()`)    	| ✅                       	| `my_string = "Hello 2024!"`                                  	|

🚧 Note about **object-oriented programming** (OOP):

In OOP, objects are instances of classes. A class defines the structure and behavior of objects, while objects themselves contain data and code (values/properties and methods/procedures).

*Example* (try it yourself!):
> object name: `capital_city` \
> object type: `str` \
> value : `"prague"` \
> method/procedure: `capitalize()`



Method/procedure is a function that
 - either changes the object itself (its data),
 - or returns a value


In Python **everything is considered to be an object!**

In [ ]:
# list ... most common, universal
a_list = [2, 3, 3, 'abc123', 3.14]
a_list.append("cookie")
print(a_list)

[2, 3, 3, 'abc123', 3.14, 'cookie']

🚨 Note: By default Python indexes from zero:

In [ ]:
print(f'a_list = {a_list}')
print(f'a_list[0] = {a_list[0]}')
print(f'a_list[1] = {a_list[1]}')
print(f'a_list[:1] = {a_list[:1]}')
print(f'a_list[1:] = {a_list[1:]}')

a_list = [2, 3, 3, 'abc123', 3.14, 'cookie']
a_list[0] = 2
a_list[1] = 3
a_list[:1] = [2]
a_list[1:] = [3, 3, 'abc123', 3.14, 'cookie']

In [ ]:
# tuple ... 'n-tice' in Czech
a_tuple = (2, 3, 3, 3.14, 'abc123')
print(a_tuple)
print(f"Which index corresponds to element 'abc123'? --> {a_tuple.index('abc123')}")

(2, 3, 3, 3.14, 'abc123')
Which index corresponds to element 'abc123'? --> 4

In [ ]:
# set ... just as in mathematics
a_set = {2, 3, 3.14, '123', 3}  # note that set cannot contain duplicates
print(a_set)
b_set = {2, 'b'}
a_set = a_set.union(b_set)
print(a_set)

{3.14, 2, 3, '123'}
{2, 3.14, 3, '123', 'b'}

In [ ]:
# dict ... dictionary
a_dict = {'eggs': 3, 'flour': "200 gr", 'milk': 0.35}
print(a_dict)

{'eggs': 3, 'flour': '200 gr', 'milk': 0.35}

In [ ]:
a_dict.update({'cacao': 1, 'fruits': {"banana", "mango"}})  # adding another dict containing INT and SET
print(a_dict)

{'eggs': 3, 'flour': '200 gr', 'milk': 0.35, 'cacao': 1, 'fruits': {'banana', 'mango'}}

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}